{% extends 'base.html' %}

{% block titulo %}
    Creacion de Categorias
{% endblock %}

{% block content %}
    <h1>Ingrese la categoría que desea añadir</h1>



    {% if form %}

        <form action="" method='POST'>

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>


            <input type="submit" value="Agregar categoría">
        </form>
    {% endif %}

    <div class="center">
        <a href="Categories/list_categories/"  class="btn btn-primary btn-lg active center"  role="button" aria-pressed="true">Volver</a>
    </div>

    {% if form_errors %}
        <h2 style="color: red;" >Errores:</h2>
        {{form_errors}}
        <a href="/Categories/list_categories/"  class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver</a>

    {% endif %}


    {% if message %}
        <h2 style="color: green;" >{{message}}</h2>
        <a href="/Categories/list_categories/"  class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver</a>

    {% endif %}





{% endblock %}